$font : 'arial';
$transition : 0.5s;

* {
    font-family: $font;
}


.select {

    padding-top: 3vh;


    display: flex;
    justify-content: center;


    .elim {
        border-top-right-radius: 1vh;
        border-bottom-right-radius: 1vh;
    }


    button {
        height: 5vh;

        border: none;
        background-color: rgb(75, 144, 235);
        color: white;
        transition: $transition;


  

        &:hover {
            background-color: rgb(18, 110, 231);
            transition: $transition;
            color: white;
        }
    }

    input {
        height: 5vh ;
        border-color:  rgb(75, 144, 235);
        border-top-left-radius: 1vh;
        border-bottom-left-radius: 1vh;

    
    }



}


.map {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding-top: 3vh;


    .edit 
    {
        border-top-right-radius: 1vh;
        border-bottom-right-radius: 1vh;
    }

    .limpars {
        border-top-left-radius: 1vh;
        border-bottom-left-radius: 1vh;
    }

    .botaolist {
       
        button{
            height: 5vh;
            width: 20vh;

            border: none;
            background-color: rgb(75, 144, 235);
            color: white;
            transition: $transition;

           
    
    
      
    
            &:hover {
                background-color: rgb(18, 110, 231);
                transition: $transition;
                color: white;
            }
        }
    }
}